
/*-----------------------------------------
 | Some additions to CSS animation
 -----------------------------------------*/

/* 0 - 1 sec */
.delay_0005 {
    -webkit-animation-delay: .05s;
    animation-delay: .05s;
}
.delay_0010 {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}
.delay_0015 {
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}
.delay_0020 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}
.delay_0025 {
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
}
.delay_0030 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}
.delay_0035 {
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}
.delay_0040 {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}
.delay_0045 {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
}
.delay_0050 {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}
.delay_0055 {
    -webkit-animation-delay: .55s;
    animation-delay: .55s;
}
.delay_0060 {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}
.delay_0065 {
    -webkit-animation-delay: .65s;
    animation-delay: .65s;
}
.delay_0070 {
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}
.delay_0075 {
    -webkit-animation-delay: .75s;
    animation-delay: .75s;
}
.delay_0080 {
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}
.delay_0085 {
    -webkit-animation-delay: .85s;
    animation-delay: .85s;
}
.delay_0090 {
    -webkit-animation-delay: .9s;
    animation-delay: .9s;
}
.delay_0095 {
    -webkit-animation-delay: .95s;
    animation-delay: .95s;
}
.delay_0100 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}




/* 1.x - 2 sec */

.delay_0105 {
    -webkit-animation-delay: 1.05s;
    animation-delay: 1.05s;
}
.delay_0110 {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}
.delay_0115 {
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
}
.delay_0120 {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.delay_0125 {
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s;
}
.delay_0130 {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
}
.delay_0135 {
    -webkit-animation-delay: 1.35s;
    animation-delay: 1.35s;
}
.delay_0140 {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}
.delay_0145 {
    -webkit-animation-delay: 1.45s;
    animation-delay: 1.45s;
}
.delay_0150 {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.delay_0155 {
    -webkit-animation-delay: 1.55s;
    animation-delay: 1.55s;
}
.delay_0160 {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}
.delay_0165 {
    -webkit-animation-delay: 1.65s;
    animation-delay: 1.65s;
}
.delay_0170 {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
}
.delay_0175 {
    -webkit-animation-delay: 1.75s;
    animation-delay: 1.75s;
}
.delay_0180 {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}
.delay_0185 {
    -webkit-animation-delay: 1.85s;
    animation-delay: 1.85s;
}
.delay_0190 {
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s;
}
.delay_0195 {
    -webkit-animation-delay: 1.95s;
    animation-delay: 1.95s;
}
.delay_0200 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}


/* 2.x - 3 sec */

.delay_0205 {
    -webkit-animation-delay: 2.05s;
    animation-delay: 2.05s;
}
.delay_0210 {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}
.delay_0215 {
    -webkit-animation-delay: 2.15s;
    animation-delay: 2.15s;
}
.delay_0220 {
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s;
}
.delay_0225 {
    -webkit-animation-delay: 2.25s;
    animation-delay: 2.25s;
}
.delay_0230 {
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s;
}
.delay_0235 {
    -webkit-animation-delay: 2.35s;
    animation-delay: 2.35s;
}
.delay_0240 {
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s;
}
.delay_0245 {
    -webkit-animation-delay: 2.45s;
    animation-delay: 2.45s;
}
.delay_0250 {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}
.delay_0255 {
    -webkit-animation-delay: 2.55s;
    animation-delay: 2.55s;
}
.delay_0260 {
    -webkit-animation-delay: 2.6s;
    animation-delay: 2.6s;
}
.delay_0265 {
    -webkit-animation-delay: 2.65s;
    animation-delay: 2.65s;
}
.delay_0270 {
    -webkit-animation-delay: 2.7s;
    animation-delay: 2.7s;
}
.delay_0275 {
    -webkit-animation-delay: 2.75s;
    animation-delay: 2.75s;
}
.delay_0280 {
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s;
}
.delay_0285 {
    -webkit-animation-delay: 2.85s;
    animation-delay: 2.85s;
}
.delay_0290 {
    -webkit-animation-delay: 2.9s;
    animation-delay: 2.9s;
}
.delay_0295 {
    -webkit-animation-delay: 1.95s;
    animation-delay: 1.95s;
}
.delay_0300 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}
