/*-----------------------------------------
 | Menu Bar: Logo
 -----------------------------------------*/

.fixed-top {
	position           : fixed;
	display            : block;
	left               : 0;
	top                : 0;
	right              : 0;
	padding            : 35px 0;
	height             : 115px;
	margin             : 0;
	z-index            : 1000;
	box-shadow         : none;
	background         : transparent;
	-webkit-transition : all .5s ease-in-out;
	transition         : all .5s ease-in-out;
}
.fixed-top ul.title-area {
	display     : inline;
	clear       : none;
	float       : left;
	padding     : 0;
	margin      : 0;
	white-space : nowrap;
}
.fixed-top ul li.name {
	padding     : 0;
	margin      : 0;
	white-space : nowrap;
}
.fixed-top ul li.name h1 {
	text-shadow : 0 0 3px rgba(51, 51, 51, 0.5);
	word-break  : keep-all;
	font-size   : 28px;
	margin-left : 20px;
}
.fixed-top ul li.name h1 a {
	color       : #ef9320;
	white-space : nowrap;
}
.fixed-top ul li.name h1 small {
	color       : #ffffff;
	margin-left : 5px;
	text-shadow : none;
	white-space : nowrap;
}
/*-----------------------------------------
 | The menu
 -----------------------------------------*/

.top-bar-section {
	display : inline;
	clear   : none;
	float   : right;
	height  : 45px;
	margin  : 0 auto;
	padding : 0 1em 0 0;
}
/*.top-bar-section ul li.name,
.top-bar-section ul li.name a {
	background : transparent !important;
}*/
/* Menu Drop Down: Transition classes */

.top-bar.top-nav-collapse {
	background-color   : #333333 !important;
	padding            : 0;
	height             : 45px;
	box-shadow         : 0 0 5px rgba(51, 51, 51, 0.9);
	-webkit-transition : all .5s ease-in-out;
	transition         : all .5s ease-in-out;
}
.top-bar-section ul.dropdown:hover {
	background-color : transparent;
	color            : #ef9320;
}
.top-bar-section ul.dropdown li {
	text-align       : right;
	transition       : all .2s ease-in-out;
	font-family: Lato, sans-serif;
	font-size:16px;
	/*background-color : rgba(51, 51, 51, 0.25) !important;*/
}
.top-bar-section ul.dropdown li a {
	font-family: Lato, sans-serif;
	font-size:13px;
	text-transform: uppercase;
}
.top-bar-section ul.dropdown li:hover {
	/*background-color : rgba(51, 51, 51, 0.9) !important;*/
	transition       : all .2s ease-in-out;
}
.top-bar-section ul.dropdown li:hover a {
	color : #ef9320 !important;
	font-family: Lato, sans-serif;
}

.top-bar-section ul li > a {
	font-family: Lato, sans-serif;
}
.top-bar-section ul.top-bar-section li.has-dropdown:hover {
	background:transparent;
	color:#ef9320;
}
.top-bar-section li:not(.has-form) a:not(.button) {
	font-family: Lato, sans-serif;
	background:transparent;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
	background: none !important;
	color:#ef9320;
}

.top-bar-section ul li:hover:not(.has-form) > a {
	background: none !important;
	color:#ef9320;
}
