/*-----------------------------------------
 | Original CSS
 -----------------------------------------*/
#slides {
    position: relative;
    width:100% !important;
    height:100% !important;
    min-height:100% !important;
}

#slides .slides-container {
    display: none;
}

#slides .scrollable {
    *zoom: 1;
    position: relative;
    top: 0;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}

#slides .scrollable:after {
    content: "";
    display: table;
    clear: both;
}

/*-----------------------------------------
 | Slides Navigation
 -----------------------------------------*/

#slides .slides-navigation {
    background: transparent;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 45px;
    overflow: hidden;
    outline: 0;
    z-index: 20;

    -webkit-transition: height .5s ease-in-out, padding .5s ease-in-out;
    transition: height .5s ease-in-out, padding .5s ease-in-out;
}

#slides .slides-navigation a {
    position: absolute;
    display: block;
    width: 75px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 13px;
    background: #333;
    color:#EF9320;
    outline: 0;
}

#slides .slides-navigation a:hover,
#slides .slides-navigation a.current {
    background: #444;
}

#slides .slides-navigation a:focus,
#slides .slides-navigation a:active {
    background: #EFA546;
    color: #fff;
    transition: all 0.1s ease-out;
}

.slides-navigation a.prev {
    padding-right: 5px;
    border-right: 1px solid #444;
    left: 0;
}

#slides .slides-navigation a.next {
    padding-left: 5px;
    border-left: 1px solid #444;
    right: 0;
}

/*-----------------------------------------
 | Slides Pagination
 -----------------------------------------*/

#slides .slides-pagination {
    background: #333;
    position: absolute;
    display: block;
    outline: 0;
    z-index: 21;
    top: auto;
    bottom: 0;
    left: 75px;
    right: 75px;
    text-align: center;
    width: auto;
    height: 45px;
    padding: 13px 0 0 0;
    margin: 0 auto;
    overflow: hidden;

    font-size: 13px;
    line-height: 13px;
    color: #ddeedd;

    -webkit-transition: height .5s ease-in-out, padding .5s ease-in-out;
    transition: height .5s ease-in-out, padding .5s ease-in-out;
}

#slides .slides-pagination a {
    background-color: #999;
    background-color: rgba(153, 153, 153, 0.5);
    border-radius: 0;
    border: 0 none;
    display: -moz-inline-stack;
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    overflow: hidden;
    font-size: 1px;
    color:transparent

    /* IE */
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

#slides .slides-pagination a:hover,
#slides .slides-pagination a.current {
    background: #EFA546;
    color:#333;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

#slides .slides-pagination.slider-pagination-collapse,
#slides .slides-navigation.slider-pagination-collapse {
    height: 0;
    padding: 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

/*-----------------------------------------
 | Text blocks over an image
 -----------------------------------------*/

#slides .slider-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#slides .slider-text a {
    color: #fff;
    text-decoration: none;
}

#slides .slider-text a i {
    color: #fff;
    transition: all .1s ease-in-out;
}

#slides .slider-text a:hover i {
    color: #EFA546;
    transition: all .1s ease-in-out;
}

#slides .slider-text h2 {
    color:#EF9320;
    font-size: 250%;
    font-weight: bold;
    margin: 15% 20% 0 20%;
    text-align: left;
    line-height: 1.2em;
    text-shadow: 0 0 9px rgba(50, 50, 50, 0.9);
    letter-spacing: 0.15em;
}

#slides .slider-text h2 sup {
    position: relative;
    font-weight: normal;
    font-size: 50%;
    top: -20px;
    text-shadow: 0 0 5px rgba(50, 50, 50, 0.9);
    letter-spacing: 0.05em;
}

#slides .slider-text h2 small {
    line-height: 0.5em;
    color: #fff;
    text-shadow: 0 0 5px rgba(50, 50, 50, 0.9);
    letter-spacing: 0.15em;
}

#slides .slider-text p {
    color: #fff;
    margin: 36px 40% 0 24%;
    text-align: left;
    line-height: 1.3em;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(50, 50, 50, 0.9);
    letter-spacing: 0.15em;
}
