#container {
    width: auto;
    margin: 0;
    background-color: transparent;
    position: relative;
    text-align: left;
}

#slides {
    width: 100%;
}

#slides img {
    width: 100%;
    /* ZURB's Foundation adds a max-width:100%, which causes troubles when resizing the image */
    max-width: none;
    /*vertical-align: top;*/
}

/* .slide added automatically by JS */
#slides .slide {
    position: relative;
    height: 100%;
    overflow: hidden;
}

/*-----------------------------------------
 | Text Inside a slider
 -----------------------------------------*/

.slide a {
    color: #999;
    text-decoration: none;
}

.slide a:hover {
    color: #fff;
}

.slide h2 {
    color:#eee;
    font-size: 250%;
    font-weight:bold;
    margin: 15% 20% 0 20%;
    text-align: left;
    line-height: 1.2em;
    text-shadow: 0 0 9px rgba(50,50,50,0.9);
    letter-spacing:0.15em;
}
.slide h2 sup {
    position:relative;
    font-weight:normal;
    font-size:50%;
    top:-20px;
    text-shadow: 0 0 3px rgba(50,50,50,0.9);
    letter-spacing:0.05em;
}

.slide h2 small {
    line-height: 0.5em;
    color:#bbb;
    text-shadow: 0 0 3px rgba(50,50,50,0.9);
    letter-spacing:0.15em;
}

.slide p {
    color: #bbb;
    margin: 36px 40% 0 24%;
    text-align: left;
    line-height: 1.3em;
    font-size:24px;
    font-weight:bold;
    text-shadow: 0 0 3px rgba(50,50,50,0.9);
    letter-spacing:0.15em;
}



.controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top:auto;
    background: #333;
    height:45px;
    outline:0;
    box-shadow: 0 -1px 5px rgba(55,55,55,0.3);
    transition: all .5s ease-in-out;
    z-index:1000;
    overflow: hidden;
}

.controls a {
    position: absolute;
    display:block;
    height:45px;
    line-height:45px;
    width:75px;
    text-align: center;
    background: #333;
    font-weight:bold;
    color:#eee;
    font-size:14px;
    outline:0;
    overflow:hidden;
    z-index:1001;
    transition: all .2s ease-in-out;
}

.controls a i {
    line-height: 45px;
}

.controls a.prevBtn {
    border-right: 1px solid #444;
    left:0;
    bottom:0;
    padding-right:5px;
}

.controls a.nextBtn {
    border-left: 1px solid #444;
    right:0;
    bottom:0;
    padding-left:5px;
}

.controls a:hover {
    background: #464646;
    transition: all .2s ease-in-out;
}
.controls a:hover i {
    text-shadow: 0 0 5px black;
    transition:all .1s ease-in-out;
}

.dot-controls {
    z-index:1002;
    background:transparent;
    position:absolute;
    left:75px;
    right:75px;
    text-align:center;
    top:auto;
    bottom:0;
    height:45px;
    line-height:45px;
    overflow: hidden;
}

.centeredDotsControls {
    display: block;
    margin: 0 auto;
    z-index:1001;
    height:45px;
    line-height:45px;
}

.centeredDotsControls,
.centeredDotsControls a,
.centeredDotsControls a span {
    z-index: 2;
    position: relative;
}

.centeredDotsControls a {
    display: inline-block;
    line-height:15px;

    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 0 none;
    background-color: rgba(222,222,222,0.2);
    box-shadow: 0 0 5px rgba(50,50,50,0.8);
    margin: auto 5px;
    padding: 0;

    transition: all .1s ease-in-out;
}

.centeredDotsControls a.current {
    /*width: 18px;*/
    /*height: 18px;*/
    /*line-height: 18px;*/
    /*border-radius: 18px;*/
    background: #ffffff;
    color: #333;
    transition: all .1s ease-in-out;
}

.centeredDotsControls a:hover {
    box-shadow: 0 0 5px black;
}

.controls.slider-pagination-collapse,
.dot-controls.slider-pagination-collapse {
    height:0;
    padding: 0;

    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
