
/* REIHENFOLGE:
hoeren
kommunizieren
konzentration

wohlbefinden
besonderes
stimme

schwangerschaft
koordination
fremdsprachen
*/

.myorange { color : #ef9320 }
.brown { color : #433106; }
.orange1 { color : #f2ac2f; }
.orange2 { color : #f19a27; }
.orange3 { color : #f48828; }
.orange4 { color : #d5a778; }
.pink1 { color : #f0d9e4 }
.pink2 { color : #d8b4cf }
.pink3 { color : #b575af }
.pink4 { color : #533565 }
.pink5 { color : #9a99be }
.greenBlue1 { color : #0296a1 }
.greenBlue2 { color : #018791 }
.greenBlue3 { color : #01727a }
.greenBlue4 { color : #015d63 }
.greenBlue5 { color : #014347 }
.joy-of-summer-1 { color : #794c37; }
.joy-of-summer-2 { color : #da4f3a; }
.joy-of-summer-3 { color : #de9d29; }
.joy-of-summer-4 { color : #eeefc7; }
.joy-of-summer-5 { color : #89b2b6; }
